*{
    background-color: black;
    padding: 0;
    margin: 0;
}

h1{
    color: white;
    font-family: sans-serif;
    font-size: 28pt;
    margin: 10px;

    background-color: transparent;
}

h2{
    color: white;
    font-family: sans-serif;
    font-size: 20pt;
    text-transform: uppercase;
    color: orange;
}

.text{
    padding: 5px;
    max-width: 75vw;
}

.service{
    border: 2px solid white;
    border-radius: 5px;

    min-width: 30vw;
    max-width: 80vw;
    height: 50vh;
    margin: 10px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.block{
    display: block;
    background-color: transparent;
}

.list{
    list-style: none;
    background-color: transparent;
    color: white;
}

.list-item{
    margin: 10px;
    background-color: transparent;
}

.link{
    border: none;
    border-radius: 25px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;

    transition: color .5s, background .5s ease;
}

.dark-link{
    background: linear-gradient(white, white 50%, orange 50%, orange);
    background-size: 100% 200%;
    color: black;
}

.light-link{
    background: linear-gradient(black, black 50%, orange 50%, orange);
    background-size: 100% 200%;
    color: white;
}

.link:hover{
    background-position: 100% 100%;

    color: white;
}

.font{
    font-family: arial;
    font-size: 14pt;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}

.droppedDown{
    display: none;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.input{
    border: 2px solid black;
    border-radius: 5px;

    color: white;
    padding: 5px;
    margin: 10px;

    width: 250px;
}

.footer{
    height: 20vh;
}

.social-link{
    color: white;
    margin: 10px;
}

.path{
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;

    animation: dash 2s linear forwards;
}

@keyframes dash {
    to{
        stroke-dashoffset: 0;
    }
}